#set($marsHome="${marsHome}")
#set($firstName="${firstName}")
#set($privacyPolicy="${privacyPolicy}")
#set($termsAndCondition="${termsAndCondition}")
#set($unSubscribe="${unSubscribe}")
#set($mailTo="${mailTo}")
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>mars.Com | Email| Template</title>

<!--css-->
<style type="text/css">
body {font-family:Arial, Helvetica, sans-serif; font-size:12px; padding:0px; margin:0px; background:#000000;}
table {font-size:12px; }
.logo{display:block; background:url(images/logo.png) no-repeat 0 0; margin:8px 0 0 0; width:294px; height:58px;}
.animatedButton2 {
background: #4a6ecc; display:inline; padding: 5px 30px 5px 30px; font-family:Rockwell; font-size: 25px; line-height:100%; color:#FFFFFF; text-decoration:none;
font-weight:normal;
}
p{font-size:13px; margin-top:0px; padding-top:7px; font-family:'Droid Sans'; line-height:150%;}
h3{font-size:14px; font-weight:bold; margin-bottom:-5px; padding-bottom:0px; font-family:'Droid Sans';}
.animatedButton2:hover{
background:#2b468d; color:#d7dcea;
}
a { font-weight:bold; color:#2b468d; text-decoration:none; }
a:hover {color:#4a6ecc;}
.fs14 {font-size:14px;}
</style>

</head>
<body style="font-family:Arial, Helvetica, sans-serif; font-size:12px; padding:0px; margin:0px; background:#000000; overflow-x:hidden; overflow-y:auto">
<!--Header-->
<table align="center" width="600" border="0" cellspacing="0" cellpadding="0" style="height:100%;">
  <tr>
    <td valign="top" height="100%" bgcolor="#eceae6"> 
	 #parse("email-templates/common/header.vm")
<!--Content-->
<table width="600" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF"  >
	<td valign="top" width="100%" style="padding-left:15px; padding-right:15px;">
    <p align="center" style="font-size:25px; padding-top: 37px; font-family:'Droid Sans';">
		Forgot Password? Click below to reset the same
	 </p>
 
    <div class="btn_d1" style="margin-top: 40px;">
<form action="${resetPasswordLink}/${token}" method="post">
    	<a rel="external" href="${resetPasswordLink}/${token}" target="e_mailer"><div align="center"><input type="submit" name="submit" value="Reset Password Now !!" class="btnComman" onclick="link('${resetPasswordLink}/${userName}');" style="background:#4a6ecc; padding: 5px 30px 5px 30px; font-family:Rockwell; font-size: 25px; line-height:100%; color:#FFFFFF; text-decoration:none; font-weight:normal;cursor:pointer; display:inline-block; visibility:visible; cursor:pointer;"></div></a>
</form>
    	<br />
	</div>
   

<p class="fs14" align="center" > OR, you can click the link below or copy and paste it on your browser: <br/>
</p>
	
	
<form action="${resetPasswordLink}/${token}" method="post">
    	<a rel="external" href="${resetPasswordLink}/${token}" target="e_mailer"><div align="center"><input type="submit" name="submit" value="${resetPasswordLink}/${token}" class="btnComman" onclick="link('${resetPasswordLink}/${token}');" style="margin-top: 37px; margin-bottom:43px; display:inline-block; visibility:visible; cursor:pointer; background:none; border:0px none; color:#0033FF; font-weight:bold;"></div></a>
</form>

<br>
	</td>

</table>
<!--Footer-->
 #parse("email-templates/common/footer.vm")
</td>
  </tr>
</table>
</body>
</html>
